@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
html,
body {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
    padding-right: 0 !important
}

a {
    text-decoration: none;
    color: rgba(34, 54, 69, .7);
    font-weight: 500;
}

a:hover {
    color: #e74c3c;
}

ul {
    list-style-type: none;
}

.navbar ul li a {
    transition: .5s;
    color: #064663;
}

nav ul li {
    list-style: none;
}

.navbar {
    background: rgba(34, 54, 69, 0);
    padding: 3rem 2rem;
    height: 0rem;
    min-height: 13vh;
    transition: 0.5s;
    height: 80px;
}

nav.black {
    background: rgba(15, 37, 54, 0.8);
    height: 90px;
    padding: 10px 50px;
}

nav.black ul li a {
    color: #D3DEDC;
    transition: 0.5s;
}

.navbar-nav {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav li {
    padding-left: 20px;
    padding-right: 20px;
    color: #FFEFEF;
}

.navbar-nav li a {
    color: #D3DEDC;
}

.navbar .navbar-brand a {
    padding: 1rem 0rem;
    display: block;
    text-decoration: none;
}

nav .navbar-brand {
    font-size: 3rem;
    padding-left: 5rem;
    color: #ECB365;
    font-family: 'Neonderthaw', cursive;
}

nav .navbar-toggler {
    background: #FFEFEF;
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #ECB365;
}

.navbar-toggler span+span {
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}

.navbar-toggler span+span+span {
    width: 10px;
    margin-left: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 2rem 1rem;
    font-size: 1.4rem;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-top {
    margin-top: 0.2rem;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-top: 15px solid #ECB365;
    color: #ECB365;
}

.navbar-expand-lg .navbar-nav .nav-link:active {
    border-top: 4px solid #ECB365;
    color: #ECB365;
}

section .home {
    padding-top: 500px;
}

.home-text span {
    color: #ECB365;
}

#home .btn {
    transition: .5s;
    border: #ECB365;
}

#home .btn:hover {
    background-color: #ECB365;
    transform: translateY(-8px);
}

#home .home-img {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

#home .home-img img {
    height: 100%;
    position: absolute;
    left: 55%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

#home .home-img:hover .shape {
    bottom: 40px;
}

#home .home-img:hover .profil {
    left: 50%;
}

.home {
    display: grid;
    grid-template-areas: 'home-img home-text';
}

.home .home-img {
    grid-area: home-img;
}

.home .home-text {
    grid-area: home-text;
}

#about {
    background-color: #064663;
}

#about h1 {
    font-size: 5rem;
    color: #ECB365;
    padding-bottom: 3rem;
}

#about .btn {
    transition: .5s;
    border: #ECB365;
}

#about .btn:hover {
    background-color: #ECB365;
    transform: translateY(-8px);
}

#about .social-link {
    padding: 0rem 3rem;
    transition: 0.8s;
}

#about .social-link a i:hover {
    transition: 1s;
    padding: 0rem 1rem;
    color: #ECB365;
}

#services h1 {
    font-size: 5rem;
    color: #064663;
}

#services .kartu .service-item {
    transition: .5s;
    overflow: hidden;
    position: relative;
    color: #064663;
}

#services .kartu .service-item:hover {
    transform: translateY(-10px);
    color: #fff;
}

#services .kartu .service-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ECB365;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}

#services .kartu .service-item:hover::before {
    transform: scaleX(1);
}

#services .kartu .service-item span {
    width: 300px;
    height: 300px;
}

#portofolio {
    background: rgb(255, 255, 255);
    background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8)), url(../img/bg22.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portofolio-item img {
    width: 100%;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
}

.portofolio-item img:hover {
    transition: .8s;
    size: 80%;
}

.portofolio-item img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2rem solid #000000;
}

.portofolio-item img:hover::before {
    border: 1rem solid #ECB365;
}

#portofolio .section-title {
    border-left: 10px solid #064663;
}

#portofolio p {
    padding-left: 2.2rem;
}

#portofolio h1 {
    border-left: 10px solid #064663;
    font-size: 5rem;
    margin-left: 2rem;
    color: #064663;
    padding-left: 1.5rem;
}

#contact h1 {
    font-size: 5rem;
    color: #064663;
}


/* === SCROLL UP === */

.scrollUp {
    position: fixed;
    right: 2rem;
    bottom: -20%;
    background-color: #041C32;
    opacity: .8;
    padding: 0.6rem;
    border-radius: .4rem;
    transition: .4s;
}

.scrollUp:hover {
    background-color: #064663;
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #fff;
    background-color: #fff;
}

.show-scroll {
    bottom: 3rem;
}


/* responsive */

@media (max-width: 500px) {
    .home {
        grid-template-areas: 'home-img' 'home-text';
    }
}