@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap');
html,
body {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: rgba(34, 54, 69, .7);
    font-weight: 500;
}

a:hover {
    color: #e74c3c;
}

ul {
    list-style-type: none;
}

.navbar {
    background: white;
    padding: 3rem 2rem;
    height: 0rem;
    min-height: 12vh;
}