@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
html,
body {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: rgba(34, 54, 69, .7);
    font-weight: 500;
}

a:hover {
    color: #e74c3c;
}

ul {
    list-style-type: none;
}

nav ul li a {
    color: #7C99AC;
}

.navbar {
    background: #041C32;
    padding: 3rem 2rem;
    height: 0rem;
    min-height: 13vh;
}

.navbar-nav {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav li {
    padding-left: 20px;
    padding-right: 20px;
    color: #FFEFEF;
}

.navbar-nav li a {
    color: #D3DEDC;
}

.navbar .navbar-brand a {
    padding: 1rem 0rem;
    display: block;
    text-decoration: none;
}

nav .navbar-brand {
    font-size: 3rem;
    padding-left: 5rem;
    color: #ECB365;
    font-family: 'Neonderthaw', cursive;
}

nav .navbar-toggler {
    background: #FFEFEF;
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #ECB365;
}

.navbar-toggler span+span {
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}

.navbar-toggler span+span+span {
    width: 10px;
    margin-left: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 2rem 1.2rem;
    font-size: 1.4rem;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-top: 15px solid #ECB365;
    color: #ECB365;
}

.navbar-expand-lg .navbar-nav .nav-link:active {
    border-top: 4px solid #ECB365;
    color: #ECB365;
}

section .home {
    padding-top: 500px;
}

.home-text span {
    color: #ECB365;
}

#home .btn {
    transition: .5s;
    border: #ECB365;
}

#home .btn:hover {
    background-color: #ECB365;
    transform: translateY(-8px);
}

#about {
    background-color: #064663;
}

#about h1 {
    font-size: 5rem;
    color: #ECB365;
    padding-bottom: 3rem;
}

#about .btn {
    transition: .5s;
    border: #ECB365;
}

#about .btn:hover {
    background-color: #ECB365;
    transform: translateY(-8px);
}

#services h1 {
    font-size: 5rem;
}

#services .kartu .service-item {
    transition: .5s;
    overflow: hidden;
}

#services .kartu .service-item:hover {
    transform: translateY(-10px);
    color: #fff;
}

#services .kartu .service-item span {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #ECB365;
    transition: width 0.5s, height 0.5s;
    z-index: -1;
}

#services .kartu .service-item span {
    width: 300px;
    height: 300px;
}


/* === SCROLL UP === */

.scrollUp {
    position: fixed;
    right: 2rem;
    bottom: -20%;
    background-color: #041C32;
    opacity: .8;
    padding: 0.6rem;
    border-radius: .4rem;
    transition: .4s;
}

.scrollUp:hover {
    background-color: #064663;
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #fff;
    background-color: #fff;
}

.show-scroll {
    bottom: 3rem;
}